<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="{{ cookiecutter.project_title }}">
<meta name="description" content="{{ cookiecutter.description }}">
<meta name="keywords" content="{{ cookiecutter.project_title }}, {{ cookiecutter.description }}">
<meta name="robots" content="index, follow">
<meta http-equiv="X-UA-Compatible" content="IE=edge; text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="author" content="{{ cookiecutter.author_name }}">
